{{ define "main" }}
  <section id="info">
    <h2>Welcome to zürindies!</h2>
    <p>
      We're a community of developers, artists, musicians, and enthusiasts in and around Zürich, who meet up every Saturday for casual co-working sessions. Join us to:
      <ul>
        <li>Make progress on your project (or start a new one!)</li>
        <li>Find inspiration and exchange ideas</li>
        <li>Get playtesting feedback</li>
      </ul>
    </p>
    <p>
      We usually meet at <a href="https://maps.app.goo.gl/tcTkDGPWnrBs5Dsb9">St. Jakob Beck &amp; Kafi Viadukt</a> throughout the day. All experience levels are welcome, just bring something you can work on. More details can be found on our <a href="https://discord.gg/H6bATCfQYu">discord</a>.
    </p>
    <p class="recruitment-note">
      Note: If you are looking for a job or hiring, please use other venues such as the <a href="https://www.sgda.ch/jobs/">SGDA</a>.
    </p>
  </section>
  <section id="projects">
    <h2>Projects</h2>
    {{ range $project := $.Site.Data.projects.projects -}}
    <a href="{{ .link }}" data-shuffle>
      <div class="project">
        {{ if .youtube }}
            <iframe class="video" width="640" height="360" src="https://www.youtube.com/embed/{{ .youtube }}?modestbranding=1&autoplay=1&mute=1&controls=0&rel=0&playlist={{ .youtube }}&loop=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="title">{{ $project.title -}}</div>
        {{ else -}}
          {{ range $image_index, $image_name := .images -}}
            {{ $image := $.Resources.GetMatch $image_name -}}
            {{ $width := 640 -}}
            {{ $height := 360 -}}
            {{ $resized1x := $image.Fill (printf "%vx%v Top png" $width $height) -}}
            {{ $resized2x := $image.Fill (printf "%vx%v Top png" (mul $width 2) (mul $height 2)) -}}
            <img class="image{{ $image_index }}" src="{{$resized1x.RelPermalink}}" srcset="{{$resized1x.RelPermalink}} 1x, {{$resized2x.RelPermalink}} 2x" alt="{{ $project.title }}" />
            <div class="title">{{ $project.title -}}</div>
          {{ end -}}
        {{ end -}}
      </div></a>{{ end -}}
  </section>
{{ end -}}
